# Note:  To disable feature, please set CONFIG_AAA=n.
#        "# CONFIG_AAA is not set" won't work.

CONFIG_SUPPORT_MLO_HYBRID=y
CONFIG_SUPPORT_FORCE_LINK_SORT=y
CONFIG_SUPPORT_MDNS_OFFLOAD=y
CONFIG_TEST_CODE_FOR_MDNS=y
CONFIG_SUPPORT_UPDTAE_HE_BSS_COLOR_FROM_BEACON=y
