# Note:  To disable feature, please set CONFIG_AAA=n.
#        "# CONFIG_AAA is not set" won't work.

# VLP / SP Feature
CONFIG_MTK_WIFI_SUPPORT_TXPWR_ENV=y
CONFIG_MTK_WIFI_SUPPORT_6G_PWR_MODE=y
CONFIG_MTK_WIFI_SUPPORT_CE_6G_PWR_REGULATIONS=y

CONFIG_SUPPORT_MDNS_OFFLOAD=y
CONFIG_TEST_CODE_FOR_MDNS=y
CONFIG_SUPPORT_UPDTAE_HE_BSS_COLOR_FROM_BEACON=y
CONFIG_MTK_MLR_V1=y
CONFIG_MTK_MLR_V2=y